body{
	/*background-image: url("../images/Wallpaper.png");
	background-position: bottom;
	background-repeat: no-repeat;
	 background-size: cover;
*/
}

.masthead {
  height: 20%;
  min-height: 35rem;
  background-image: url("../images/Flower_Print.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 80%;
}

.bottom-content{

}


/*add hover effects at some point*/
.icon{
	height: 2.5rem;
}

.profile-pic{
	
	height: 10rem;
	margin-top: 5rem;
	margin-bottom: 5rem;

}

.intro{
	background-color: #e3dee0;
	opacity: 90%;
}

.intro p{

}




