body{
	/*background-image: url("../images/Wallpaper.png");
	background-position: bottom;
	background-repeat: no-repeat;
	 background-size: cover;
*/
}

.center-page {
  
  min-height: 35rem;
  background-image: url("../images/Flower_Print.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 80%;
  margin-top: 56px;
}

.bottom-content{

}


/*add hover effects at some point*/
.icon{
	height: 5rem;

}
.icons {
	background-color: blue;
}
.icons img{


	background-color: yellow;
}
.profile-pic{
	
	height: 10rem;
	margin-top: 4rem;
	margin-bottom: 2rem;

}

.intro{
	background-color: #e3dee0;
	opacity: 90%;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 2em;




}

.schedule{
		opacity: 90%;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 2em;

}

.intro p{

}

.intro-parent{
/*	display: block;
	margin-top: auto;
	margin-bottom: auto;*/
height: 35em !important;


}

.intro-parent2{


	margin-top: auto;
	margin-bottom: auto;
}

.calendar{
	display: flex;
	float: right;
}




